@(tickets: List[Ticket], account: String, project: Project)

@css = {

}

@javascript = {

}

@main("Welcome to LightHouse Stats !", project)(javascript)(css) {

    <div class="row">
        <div class="span12"><span class="label label-inverse">@tickets.size() opened tickets</span></div>
    </div>
    <p></p>

    @for(ticket <- tickets) {
    <div class="row">
        <div class="span2"><span class="label label-info">@ticket.numberOfWatchers watchers</span></div>
        <div class="span8"><a href="@ticket.url" target="_blank">@ticket.title</a></div>
        <div class="span2"><a href="@ticket.url" target="_blank"><span class="label">@ticket.numberOfComments comments</span></a></div>
    </div>
    <p></p>
    }
}
