@(tickets: List[Ticket], totalPages: String)

@css = {

}

@javascript = {

}

@main("Welcome to LightHouse Stats !")(javascript)(css) {

    @for(ticket <- tickets) {
    <div class="row">
        <div class="span8"><a href="@ticket.url" target="_blank">@ticket.title</a></div>
        
        <div class="span4"><span class="label label-info">@ticket.numberOfWatchers watchers</span></div>
    </div>
    <p></p>
    }
    
    <!-- div class="pagination">
	  <ul>
	    <li><a href="#">Prev</a></li>
	    <li class="active">
	      <a href="#">1</a>
	    </li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">Next</a></li>
	  </ul>
	</div-->

}
